<% content_for :head do %>
    <%= stylesheet_link_tag "product_index", "data-turbo-track": "reload" %>
<% end %>

<h1><%= t ".title" %></h1>

<div id="products">
    <% if authenticated? %>
        <%= link_to new_product_path, class: "product" do %>
            <div class="preview_image new_item_img"><p>+</p></div>
            <%= content_tag :h3, "New Product", class: "product-name" %>
        <% end %>
    <% end %>
    <% @products.each do |product| %>
        <%= link_to product, class: "product" do %>
            <%= image_tag product.featured_image, class: "preview_image" if product.featured_image.attached? %>
            <%= content_tag :div, "A preview image", class: "preview_image" unless product.featured_image.attached? %>
            <%= content_tag :h3, product.name, class: "product-name" %>
        <% end %>
    <% end %>
</div>
